{% extends "base.html" %}
{% load static %}
{% block home %}
        <div class="home-text">
            <h1>Menna Alhusseini</h1>
            <h2>AI Engineer</h2>
            <p>AI Engineer specialized in designing and developing
                intelligent solutions powered by data analytics and
                machine learning. I excel at transforming complex
                challenges into practical, innovative systems that
                enhance efficiency and enable data-driven decision
                making</p>
        </div>
{% endblock %}