{% extends 'base.html' %}
{% block home %}
    <div>
        <h2>About Me</h2>
        <p>I am an AI Engineer and Computer Science
        student specializing in data analysis and machine
        learning. I am passionate about developing
        intelligent solutions that improve quality of life in
        smart cities and support data-driven decision
        making. My goal is to bridge advanced
        technologies with real-world applications to
        create impactful and sustainable innovations.</p>
    </div>
{% endblock %}