{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <style>
        .container{
            background-color: #66A3BF;
        }
    </style>
</head>
<body>
    {% block home %}
    <div class="container home-text">
        <h1>Project Page</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title: {{project.title}}</h5>
                <p class="card-text">Description: {{project.description}}</p>
                <p class="card-text">Category: {{project.category}}</p>
                <p class="card-text">Technologies: {{project.technologies}}</p>
                <p class="card-text">Start-date: {{project.start_date}}</p>
                <p class="card-text">End_date: {{project.end_date}}</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>